.backdrop {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  padding: 26px 0 26px 0;
  border-radius: 10px;
  box-shadow: 0px 3px 20px 0px rgba(21, 57, 90, 0.08);
}

.btnCloseModal {
  font-size: 15px;
  font-family: 'HelveticaNeueCyrRoman', sans-serif;
  line-height: 0.733;
  letter-spacing: 0.06em;
  width: 236px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.text {
  color: var(--vary-dark);
  text-transform: uppercase;
}

.taskName {
  color: var(--light-blue);
  text-decoration: underline;
  font-size: 15px;
  letter-spacing: 0.06em;
  font-family: 'HelveticaNeueCyrRoman', sans-serif;
  border: none;
  background: none;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 3px;
}

.taskName:hover,
.taskName:focus {
  color: #47aad5;
}

.imgWrapper {
  display: flex;
  justify-content: center;
  width: 167px;
  /* height: 143px; */
  margin: 0 auto;
}

img {
  width: 167px;
}

.btnContinueWrapper {
  font-size: 15px;
  font-family: 'HelveticaNeueCyrRoman', sans-serif;
  line-height: 0.733;
  width: 92px;
  height: 12px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btnContinueText {
  color: #7b8aa4;
  letter-spacing: 0.09em;
}

.btnContinueIcon {
  background: none;
  background-repeat: no-repeat;
  border: none;
  display: flex;
  align-items: center;
  width: 12px;
  height: 12px;
}

.btnContinueIcon svg {
  display: block;
  fill: var(--light-blue);
  width: 100%;
  height: 100%;
}

.btnContinueIcon:hover svg,
.btnContinueIcon:focus svg {
  fill: #47aad5;
}

@media (min-width: 1920px) {
  .backdrop {
    width: 313px;
    height: 293px;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }

  .modal {
    width: 313px;
    height: 293px;
    padding: 33px 0 33px 0;
    border-radius: 11px;
  }

  .btnCloseModal {
    width: 257px;
  }

  .imgWrapper {
    width: 198px;
    height: 169px;
  }
}
