.dropdown {
  flex-direction: row;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 150px;
  height: 40px;
  margin-left: -40px;
  background-color: aquamarine;
}
.boxDropDown {
  display: flex;
  flex-direction: column;
  width: 150px;
  height: 40px;
  align-items: center;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.btnStuff {
  font-family: 'HelveticaNeueCyr-Light', sans-serif;
  position: relative;
  width: 150px;
  height: 40px;
  text-align: center;
  padding: 9px;

  border: 2px solid #f2f3f7;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  color: black;
  z-index: 1;
}
.liStuff {
  font-family: 'HelveticaNeueCyr-Light', sans-serif;
  width: 150px;
  height: 40px;
  margin-left: 80px;
  text-align: left;
  padding: 9px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  color: black;
}
.liStuff:hover {
  color: #f2f3f7;
  cursor: pointer;
}

.btnIconDrop {
  position: absolute;
  top: 10px;
  left: 120px;
  z-index: 10;
  width: 15px;
  height: 15px;
  background: url(../../assets/icons/dropdown/1x/baseline_arrow_drop_down_black_18dp.png)
    right no-repeat;
}

.btnIconDropDisable {
  position: absolute;
  top: 10px;
  left: 120px;
  z-index: 10;
  width: 15px;
  height: 15px;
}
